.pass__text-warning {
    text-align: justify;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
  
    padding: 10px;
    margin-bottom: 15px;
  
    border: none;
    border-radius: 5px;
    background: #f75676;
  
  }
  